doctype html 
html(lang="en")
    style.
        .top{
            background: grey;
            color: white
        }  
        .coin{
            background: yellow
        }
    body 
        div.top
            p You have #{count} unique coins.

        div.coins
        - const coinlist = JSON.parse(coins)
            for coin in coinlist
                div.coin
                    p.one coinobj

        //- div.coins
        //- - const coinlist = JSON.parse(coins)
        //-     for coin in Object.keys(coinlist)
        //-         form.coin(action=coin + "/add" method="POST")
        //-             p.one #{coin} #{jsonobj[coin]}
        //-             button Buy
